@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    
}

.contenedor .padre{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.contenedor .nav{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 25px;
    font-weight: 300;
}

.contenedor .nav a{
    text-decoration: none;
    color:#1D1E20;
    font-weight: 300;
}

.contenedor .padre .lenguaje img{
    height: 97,58px;
    width: 24px;
    color: #1D1E20;
    font-weight: 300;
}

.contenedor .padre .lenguaje span{
    color: #1D1E20;
    
}

.contenedor .nav .boton{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}